<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password</title>
    <link href="" th:href="@{/css/signUp.css}" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <div class="main-container">
            <div class="second-wrapper">
                <div class="form-container">
    
                    <form th:action="@{/updatepassword}" method="post" class="form">
                        <h2>Reset Password</h2>
                        <div class="form-group">
                            <input type="password" placeholder="New Password" name="email" id="username" />
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Confirm Password" name="email" id="username" />
                        </div>
                        <div class="form-group">
                           <input type="submit" value="Confirm" id="createBtn"/> 
                        </div>
                    </form>
                </div> 
            </div>
        </div>
        
    </body>
</html>